---
---
.post
  background-color: white
  .post-header
    padding: 0
    border: 0
  .post-title
    margin: 0
  article.post-content
    padding: 0

.post-list
  padding: 0px 3em

  .post
    list-style: none

    .post-header
      .post-link
        display: inline-block
      small
        font-size: 0.3em
        display: block
        position: relative
        left: 2px

    .post-read-more
      float: right

    article.post-content
      background-color: #FDFDFD
