---
layout: default
---

<div class="content">

  <h1 class="page-heading">Blog de Konfío</h1>

  <ul class="post-list">

    <!-- This loops through the paginated posts -->
    {% for post in paginator.posts %}
      <li class="post clearfix">

        <h2 class="post-header">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          <small class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</small>
        </h2>

        <article class="post-content">
          {% if post.tumblr_url %}
            {% if post.content contains '<img>' %}
            {% endif %}
            {{ post.content | strip_html | truncatewords: 50 }}
          {% else %}
            {{post.excerpt}}
          {% endif %}
          <a class="post-read-more" href="{{ post.url | prepend: site.baseurl }}">Leer más...</a>
        </article>
      </li>
    {% endfor %}
  </ul>

  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous btn">Anterior</a>
    {% endif %}
    <span class="page_number ">Página: {{ paginator.page }} de {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next btn">Siguiente</a>
    {% else %}
    <span class="next ">Siguiente</span>
    {% endif %}
  </div>

  <p class="rss-subscribe">suscribirese
    <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>
    <i class="fa fa-rss"></i>
  </p>

</div>
