<footer>
		<div class="container">
			<div class="footerlogo">
        <img width="65" src="{{site.url}}/img/logo/logo_konfio.png" alt="Logo de Konfío">
			</div>
			<div class="copyright">
				<p>Todos los derechos reservados © 2015 Konfío</p>
			</div>

			<div class="clear"></div>

			<div class="social">
        <a href="https://www.facebook.com/{{site.facebook_username}}" target="_blank">
          <img alt="Facebook" src="{{site.url}}/img/social/iconos/facebook.svg">
        </a>
				<a href="https://twitter.com/konfiomx" target="_blank">
          <img alt="Twitter" src="{{site.url}}/img/social/iconos/twitter.svg">
        </a>
				<a href="https://www.youtube.com/konfio" target="_blank">
          <img alt="Youtube" src="{{site.url}}/img/social/iconos/youtube.svg">
        </a>
				<a href="https://google.com/+KonfioMx" target="_blank">
          <img alt="Google+" src="{{site.url}}/img/social/iconos/google.svg">
        </a>
				<a href="http://www.linkedin.com/company/konfio" target="_blank">
          <img alt="LinkedIn" src="{{site.url}}/img/social/iconos/linkedin.svg">
        </a>
				<a href="/sitemap">
          <img alt="Sitemap" src="{{site.url}}/img/social/iconos/sitemap.svg">
        </a>
			</div>

			<div class="clear"></div>

			<nav>
				<ul>
					<li><a href="/preguntas">Preguntas Frecuentes</a></li>
					<li><a href="/terminos">Términos y Condiciones</a></li>
					<li><a href="/privacidad">Políticas de Privacidad</a></li>
					<li><a href="/contacto">Contacto</a></li>
				</ul>
			</nav>
			<ul>
				<li><a href="/blog">Blog</a></li>
				<li><a href="/une">UNE</a></li>
				<li><a href="/buro-de-entidades-financieras">Cumplimiento</a></li>
				<li><a target="_blank" href="http://atencion.konfio.mx/hc/es">Ayuda</a></li>
			</ul>
		</div>

    <div class="helpcenter">
      <a class="link" target="_blank" href="http://atencion.konfio.mx/hc/es">
        Ayuda
        <i class="fa fa-question-circle"></i>
      </a>
    </div>

	</footer>
