<div class="registrate">
  <div class="container">
    <div>
      <a href="/preguntas#5">Requisitos</a>
      <span></span>|<span></span>
      <a href="tel:+525541613564">(55) 4161 3564</a
      ><span></span>|<span></span>
      <img alt="Lock" src="{{site.appurl}}/img/btn/lock.svg"> <a href="/inicio/ingresa">Ingresa</a></div>
  </div>
</div>
<header>
  <div class="container">
    <div class="logo">
      <a href="/"><img width="130" src="{{site.appurl}}/img/logo/logo_konfio.png" alt="Logo de Konfío"></a>
    </div>
    <nav id="menubar">
      <ul>
        <li><a href="/como">Cómo funciona</a></li>
        <li><a href="/conocenos/">Conócenos</a></li>
        <li><a href="/preguntas">Preguntas</a></li>
        <li><a href="/calculadora">Simulador</a></li>
      </ul>
    </nav>
    <div class="login">
      <a class="desktop" href="/inicio/registrate">Solicita</a>
      <a class="mobile" href="/inicio/ingresa">Ingresa</a>
    </div>
  </div>
</header>
