<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta property="keywords" content="préstamos para negocios, préstamos para empresas, préstamos negocio, préstamos para negocio, obtén préstamos rápidos, en línea, en méxico, konfio, confio">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta property="author" content="Konfío">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="alexaVerifyID" content="mUMJEyPX19qAMrf6Y-52_xobA88">
  <meta property="apple-mobile-web-app-capable" content="yes">
  <meta property="apple-mobile-web-app-status-bar-style" content="black">
  <meta property="apple-touch-icon" content="/img/logo/logo_155x100.png">
  <meta property="og:title" content="Obtén préstamos rápidos y confiables en línea para tu negocio en México | Konfío">
  <meta property="og:type" content="website">
  <meta property="og:image" content="/img/main/beneficio1.png">
  <meta property="og:url" content="https://konfio.mx">
  <meta property="og:description" content="Préstamos rápidos y confiables: sí confiamos, por eso te prestamos!">
  <meta property="og:locale" content="es_LA">

  <link rel="stylesheet" href="{{ "/css/style.css"}}">
  <link rel="stylesheet" href="{{ "/css/prev.css"}}">
  <link rel="stylesheet" href="{{ "/css/new.css"}}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
</head>
