{% include loginNav.html %}
<header>
  <div class="container">
    <div class="logo">
      <a href="{{site.appurl}}/"><img width="130" src="{{site.appurl}}/img/logo/logo_konfio.png" alt="Logo de Konfío"></a>
    </div>
    <nav id="menubar">
      <ul>
        <li><a href="{{site.appurl}}/como">Cómo funciona</a></li>
        <li><a href="{{site.appurl}}/conocenos/">Conócenos</a></li>
        <li><a href="{{site.appurl}}/preguntas">Preguntas</a></li>
        <li><a href="{{site.appurl}}/calculadora">Simulador</a></li>
      </ul>
    </nav>
    <div class="login">
      <a class="desktop" href="/inicio/registrate">Solicita</a>
      <a class="mobile" href="/inicio/ingresa">Ingresa</a>
    </div>
  </div>
</header>
